/******************************************************************************
 * Content
 ******************************************************************************/

 body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.


/*****************************************************************************
* Custom Style
*****************************************************************************/

.unshadow {
  box-shadow: none !important;
  text-shadow: none !important;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}


.section-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #1f4037; /* Customize the color as per your theme */
  border-bottom: 2px solid  var(--global-theme-color); /* Adds a nice underline */
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}